<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
      <div class="container">
          {% include header.html %}

          {{ content }}

          <section class="profile">
              <div class="card hovercard" id="profile_card">
                  <div class="cardheader" style="background: url('{{ site.author.header_bg | prepend: site.baseurl }}') no-repeat center">

                  </div>
                  <div class="avatar">
                      <img alt="" src="{{ site.author.avatar | prepend: base.url }}">
                  </div>
                  <div class="info">
                      <div class="title">
                          <a target="_blank" href="{{ site.author.url }}">{{ site.author.name }}</a>
                      </div>
                      <div class="desc">{{ site.author.description }}</div>
                  </div>
                  <div class="bottom">
                      <a class="btn btn-primary btn-twitter btn-sm" href="mailto:{{ site.author.email }}">
                          Contact me
                      </a>
                  </div>
              </div>
          </section>
      </div>




    <script src="{{ "/js/classie.js" | prepend: site.baseurl }}"></script>
  	<script src="{{ "/js/dynamics.min.js" | prepend: site.baseurl }}"></script>
  	<script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
  </body>


</html>
