body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #343434;
}

@font-face {
  font-family: 'fontello';
  src: url('./font/fontello.eot?91402418');
  src: url('./font/fontello.eot?91402418#iefix') format('embedded-opentype'),
       url('./font/fontello.woff?91402418') format('woff'),
       url('./font/fontello.ttf?91402418') format('truetype'),
       url('./font/fontello.svg?91402418#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon
{
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* You can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

p {
  font-size: 1.3em;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

h1, h2, h3, h4 {
  font-weight: lighter;
}

div.header {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: black;
}

div.header > video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

div.absoluteFit {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.absoluteFit > h1 {
  font-size: 5em;
  color: white;
  text-shadow: 0px 1px #262626;
  margin-bottom: 0;
  margin-top: 20px;
}

div.absoluteFit > h2 {
  font-size: 1.2em;
  font-weight: lighter;
  color: white;
  text-shadow: 0px 1px #262626;
  margin-bottom: 0;
}

div.absoluteFit > h3 {
  font-size: 0.8em;
  font-weight: lighter;
  color: white;
  text-shadow: 0px 1px #262626;
  margin-bottom: 0;
}

div.absoluteFit > img {
  width: 10em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.italic {
  font-style: italic;
}

div.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

div.feature > h2 {
  font-weight: lighter;
  font-size: 2em;
}

div.feature > img {
  width: 100%;
}

.feature {
  padding: 1em;
  width: 50%;
  margin-top: 5em;
}

div.footer {
  padding-top: 3em;
  padding-bottom: 3em;
  background-color: #222125;
  color: white;
}

div.getstarted1 {
  padding-top: 2em;
  padding-bottom: 2em;
  color: white;
  background-color: #222125;
  font-size: 1.5em;
  cursor: pointer;
}

div.getstarted1 > a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

div.getstarted {
  margin-top: 5em;
  margin-bottom: 7em;
}

div.getstarted > a {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  border-radius: 0.6em;
  background-color: deepskyblue;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
}

div.footer > a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.5em;
  padding: 10px;
}

div.actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  margin-top: 5em;
}

div.action {
  flex: 0.5;
  padding: 1.5em 0 1.5em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

div.action > a {
  text-decoration: none;
  display: block;
  color: white;
  width: 100%;
}

div.action > a > p {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 0;
  text-align: center;
}

div.action > a > img {
  width: 100px;
}

div.bar {
  width: 100%;
  background-color: black;
  opacity: 0.8;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

div.inner {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div.categories {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div.categories > a.normal {
  color: rgba(255, 255, 255, 0.3);
}

div.bar > div > a {
  color: white;
  text-decoration: none;
}

div.appsContainer {
  min-height: 81vh;
  margin-bottom: 3em;
}

div.apps {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
}

div.appsNotFirstRow {
  margin-top: 1em;
}

div.app {
  padding: 20px;
  width: 20%;
  color: #222125;
  border-radius: 10px;
  border-width: 1px;
  border-color: rgba(44, 62, 80,0.3);
  padding-top: 30px;
  padding-bottom: 30px;
  border-style: solid;
  margin-left: 5px;
  margin-right: 5px;
  height: 200px;
}

div.app > a {
  color: #222125;
}

div.app > a > img {
  max-width: 100px;
}

div.app > a > h2, h3, h4 {
  margin-bottom: 0;
  margin-top: 5px;
}

div.app > a > h2 {
  font-weight: normal;
}

div.app > a > h3, h4 {
  font-weight: lighter;
}

div.app > a > h4 {
  color: #95a5a6;
}

div.app_page {
  min-height: 88vh;
}

div.app_page > div.content > img {
  max-width: 100px;
}

div.app_page > div.content {
  padding-top: 3em;
  padding-bottom: 3em;
  padding-left: 10px;
  padding-right: 10px;
}

div.app_page > div.content > h2{
  opacity: 0.5;
  margin-bottom: 3em;
}

div.app_page_paragraph {
  width: 70%;
}

.app_page_img {
  max-width: 90%;
}

.download {
  background-color: #f39c12;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 8px;
  font-size: 1.3em;
}

.download_android {
  background-color: #2ecc71;
}

@media (max-width: 1024px) {
  div.apps {
    width: 100%;
  }

  div.app_page_paragraph {
    width: 100%;
  }
}

@media (max-width: 768px) {
  div.app {
    width: 40%;
  }
}

@media (max-width: 667px) {
  div.absoluteFit > h1 {
    font-size: 2em;
  }

  div.absoluteFit > h2 {
    font-size: 1em;
  }

  div.absoluteFit > h3 {
    font-size: 0.8em;
  }

  div.absoluteFit {
    background: #ffffff url("header.png") no-repeat center top;
    background-size: cover;
  }

  div.absoluteFit > img {
    width: 4em;
  }

  .feature {
    padding: 1em;
    width: 90%;
    margin-top: 5em;
  }

  div.app {
    width: 80%;
  }

  div.categories {
    width: 100%;
    margin-top: 10px;
  }

  .download {
    font-size: 1em;
  }
}

@media (max-width: 320px) {
  div.absoluteFit > h1 {
    font-size: 1em;
  }

  div.absoluteFit > h2 {
    font-size: 0.8em;
  }

  div.absoluteFit > h3 {
    font-size: 0.5em;
  }

  div.actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    color: white;
    margin-top: 5em;
  }
}
